<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">


	<ui:define name="content">
		<center>
			<h:form id="allens">
				<h:dataTable value="#{employeBean.lDeviceByEmp}" var="device"
					style="align:center" border="1">

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="Device Unique Identifier" />
						</f:facet>
						<h:outputText value="#{device.uniqueidentifier}" />
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:outputLabel value="Model Name" />
						</f:facet>
						<h:outputText value="#{device.modelName}" />
					</h:column>

				</h:dataTable>
			</h:form>
		</center>
	</ui:define>

</ui:composition>