<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">


	<ui:define name="content">
		<center>
			<h:form id="allens">
				
				<h:panelGrid columns="3"> 
					
					<h:selectOneMenu value="#{employeBean.matriculeEmp}">
						<f:selectItems value="#{employeBean.lemp}" var="emp" itemLabel="#{emp.lastName} #{emp.firstName}" 
							itemValue="#{emp.matricule}">
						</f:selectItems>
					</h:selectOneMenu>
					
					<h:selectOneMenu value="#{employeBean.idDevice}">
						<f:selectItems value="#{employeBean.ldevices}" var="dev" itemLabel="#{dev.modelName}" 
							itemValue="#{dev.uniqueidentifier}">
						</f:selectItems>
					</h:selectOneMenu>
					
					<h:commandButton action="#{employeBean.affecter()}" value="Affecter" />
					
				</h:panelGrid>
				
			</h:form>
		</center>

	</ui:define>

</ui:composition>