<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/template/template.xhtml">
	<ui:define name="content">
	<h:form id="add">
		<h:messages />
			<h:panelGrid columns="2">
				<h:outputLabel value="Title" />
				<h:inputText value="#{projetBean.p.title}" id="nom" required="true" />
				
				<h:outputLabel value="Description" />
				<h:inputText value="#{projetBean.p.description}" />
				
				<h:outputLabel value="Nombre de Fichiers"  />
				<h:inputText value="#{projetBean.p.nbrOfClass}" />
				
				
				<h:selectOneMenu value="#{projetBean.p.langagedev}" >
				<f:selectItem itemValue=" " itemLabel="Choisir type langue" />
				<f:selectItems value="#{projetBean.langues}"></f:selectItems>
				</h:selectOneMenu>
				
				<h:commandButton action="#{projetBean.ajouter()}" value="ajouter Projet" />

			</h:panelGrid>
		</h:form>
		</ui:define>
	</ui:composition>
</html>